*{
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
}

.header {
/*    background-color: pink; */
    background-image: url(../images/beach-pano.JPG);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    font-family: sans-serif;
    color: darkslategray;
    padding: 20px 10px;
    height:250px;
    letter-spacing: 2px;
}

.header-2 {
    background-color: cadetblue; 
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    font-family: sans-serif;
    color: darkslategray;
    padding: 20px 10px;
    height:250px;
    letter-spacing: 2px;

}

.container{
    width:100%;
    min-height: 800px;
    margin: auto;
    margin-bottom: 0;
    background-color: blanchedalmond
}

#navbar {
    background-color:antiquewhite;
    padding: 20px;
    text-align: right
}

#navbar a {
    font-family: sans-serif;
    color:black;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.button:hover{
    background-color: white;
    border-radius: 5px;
}


.button {
    background-color: transparent;
    padding: 5px;
    margin-left: 10px;
}

#header-title {
    background-color: white;
    opacity:0.8;
    vertical-align: middle;
    min-height: 40%;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top:40px;
    padding-top:40px;
    padding-left:30px;
    padding-right:30px;
    padding-bottom:20px;
    font-size:4em;
}

.container p {
    font-family: sans-serif;
    padding: 20px;
    margin-top: 30px;
    font-size: 1.2em;
    color: dimgray;
    line-height: 1.5;
}


footer {
    margin:0;
    background-color: lightblue;
    text-align: right;
    height:100%;
    padding:10px;
    font-family:sans-serif;
}

#headshot {
    margin: 10px;
    border: dotted cadetblue;
    float:left;
    padding:10px;
    width: 220px;
    box-sizing: border-box; 
}

#about-text {
    margin: 10px;
    float:left;
    width: 580px;
    box-sizing: border-box; 
}

#royce-hall {
    margin: 10px;
    border: dotted cadetblue;
    float:left;
    padding:10px;
    width: 295px;
    box-sizing: border-box; 
}